<div
  class="container">
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onsubmitPasswordReset()">
<div class="form-section">
        <h2>Forgot Password</h2>
        <div class="form-group">
            <div>
      <!-- <label for="password">Password</label> -->
      <input
        id="password"
        type="text"
        formControlName="password"
        placeholder="Enter your Password"
      />
      <div *ngIf="f['password'].touched && f['password'].invalid">
        <small *ngIf="f['password'].errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="f['password'].errors?.['minlength']"
          >Password must be at least 6 characters long.</small
        >
      </div>
    </div>

    <div>
      <!-- <label for="confirmPassword">Confirm Password</label> -->
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm your Password"
      />
      <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
        <small>Confirm Password is required.</small>
        
      </div>
       <div *ngIf="forgotPasswordForm.errors?.['passwordMismatch']" class="error">
    ❌ Passwords do not match
  </div>
    </div>
        
        </div>
       
</div>
      <!-- Form Actions -->
      <div class="form-actions">
        <button
          type="submit"
          class="a2z-btn"
          [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.errors?.['passwordMismatch']"
        >
          <span *ngIf="!isSubmitting">Update</span>
          <span *ngIf="isSubmitting">Submitting...</span>
        </button>
      </div>
    </form>
    </div>